html 
    head 
        title WEB2 PROJ2 HOME
    body
        if username
            h1 Welcome #{username}
        else 
            h1 Welcome anonymous
        ul 
            li: a(href='/task1') Task 1
            li Task 2 (WiP)           
        