html 
    head 
        title WEB2 PROJ2 SQL injection
    body
        form(method="POST" id="mainForm")
            label ID:
                input(type="text" name="inputID" id="inputID")
            label Secure? 
                input(type="checkbox", name="secure" id="secure")
            input(type="submit" value="Check!")
        if msg
            div The response: #{msg}
        